*{
	font-family: sans-serif;
}

#container {
	background-color: #1D3E62;
}

#logo {
	margin: 15px 15px 15px 30px;
	width: 30%;
	display: inline-block;
	vertical-align: top;
}

.textsize{
	color: white;
	position: relative;
	top: 5px;
	right: 40px;
	text-align: right;
	font-size: 12px;
}

.textsize span{
	text-decoration: underline;
	color: yellow;
	font-style: normal;
}

#search {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	/*text-align: middle;*/
	left: 225px;
	bottom: 15px;
	background-color: #8E8E8E;
	padding: 10px 30px 10px 30px;
	margin: 25px 10px 15px 25px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px 2px;
}

textarea {
	text-align:center;
	vertical-align: middle;
}

#navbar{
	display: block;
	background-color: #396A9B;
	border-radius: 5px;
	margin-left: 55px;
	margin-right: 25px;
	box-shadow: 0px 3px 3px 0px;
	text-align: center;
	font: arial;
}

.navElem{
	display: inline-block;
	margin: 2%;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
	font: arial;
	font-size: 20px;
}

.navlist{
	display:inline-block;
	position: relative;
	left: 10px;
}

li{
	color:white;
	text-decoration: underline;
	text-align:center;
}

#content{
	vertical-align: top;
	display: inline-block;
	text-align:center;
	width: 60%;
	position: relative;
	left: 50px;
}

#content p:not(.zen){
	color: white;
	font-size: 12px;
	font: arial;
}

.zen{
	color: yellow;
	font-style: italic;
	text-align: center;
}

#waist{
	padding-top: 10px;
	background-color: white;
	display: block;
	/*vertical-align: top;*/
	text-align: center;
}

#waist hr{
	color: blue;
}

#getting{
	display: inline-block;
	/*vertical-align: top;*/
	margin: auto;
	width: 40%;
	/*border: 1px solid silver;*/
}

#getting p{
	font-size: 12px;
}

#getting p:first-child{
	font-size: 20px;
	font-weight: bold;
}

#applications{
	display: inline-block;
	vertical-align: top;
	width: 40%;
	margin: 0 0 0 10px;
	/*border: 1px solid silver;*/
}

#applications p{
	font-size: 12px;
}

#applications p:first-child{
	font-size:20px;
	font-weight: bold;
	font: verdana;
}

.blue{
	color: lightblue;
	font-size: 12px;
}

#bot > div{
	text-align: center;
	font-size: 14px;
}

#botbar > div{
	display: inline-block;
	text-align: center;
	margin: 20px;
	color: lightblue;
}

#copyright{
	text-align: center;
	color: lightblue;
}
